// ==============================
// Custom style
// ==============================
//  Also You can override the variables in variable.styl to customize the style



// Gitalk评论样式
.gt-container {
    max-width: 780px;
    margin: auto;
}