@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1647358211630') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaoqian-:before {
  content: "\e604";
}

.icon-wenzhang:before {
  content: "\e67d";
}

.icon-zhuye:before {
  content: "\e649";
}

.icon-guanyu:before {
  content: "\eaf2";
}

.icon-fenlei:before {
  content: "\e620";
}

.icon-guanyu1:before {
  content: "\e60b";
}

.icon-guanyu2:before {
  content: "\e7e8";
}

